$color_1: rgb(0, 0, 0);
$color_2: rgb(131, 131, 131);
$color_3: rgb(72, 109, 131);
$color_4: rgb(27, 36, 85);

$fontSize_1: 22px;
$fontSize_2: 16px;
$fontSize_3: 11px;
$fontSize_4: 8px;

$font1: "Courier New", Courier, monospace;
$font2: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

$backgroundColor_1: rgb(175, 230, 175);
$backgroundColor_2: rgb(145, 176, 233);
