//- extends pageLayout

//- block content
//-     .card.col-md-12.col-lg-6.m-auto.text-center
//-         .card-head
//-             h3.text-primary Passport : Admin Login
//-             hr
//-         .card-body
//-             form(action="/userLogin", method="POST")
//-                 label(for="username") Login:
//-                     input(name="username" placeholder="Username" required) 
//-                 br
//-                 label(for="password") Password:
//-                     input(name="password" placeholder="Password" required)
//-         .card-footer 
//-                 a(href="/").text-danger.btn.btn-outline-danger.mr-1 Retour
//-                 input.btn.btn-outline-success(name="submit", type="submit")
