extends pageLayout

block content
    body.text-center(id="main") 
        .container.my-4
            h3(id="titre1") Rapport des Revenus
            p(id="texte1") Revenus
        br
        br
        img(src="images/LogoBookInkNoir.png", alt="LogoBookInk", style='max-width: 100px;')
        img(src="images/logo.jpg", alt="5Monkeys", style="max-width: 100px;")
            